*.pyc

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
data/replay_data/*
data/replay_data_tensor/*
data/replay_data_tensor_simple/*
data/replay_data_tensor_new/*
data/replay_data_tensor_new_small/*
data/*.zip
res/paper/
res/s2clientprotocol/
model/*
model_train/*
model_eval/*
*.SC2Replay
data/experiment.txt
tmp/*
log/*
archive/*
show/*
cameras.txt
cameras.csv
/scripts/download_replay/third/download/*
output/*.txt
